<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}
    <noscript><img src='https://analytics.iojo.net/pixel.png?app_key={{ site.google_analytics }}&begin_session=1'/></noscript>
</body>

</html>