---
layout: default
---
<article class="post h-entry post-content e-content" itemscope itemtype="http://schema.org/BlogPosting"
  itemprop="articleBody">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape | remove: "Tags from " | capitalize }}
    </h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date |date: "%Y-%m-%d %H:%M" }}
      </time>
  </header>

  {% assign tag = site.data.github.tags[page.data_filename] %}
  <h2><a href="{{ tag.home_page_url }}">Latest updates for {{ page.data_filename | capitalize }}</a></h2>
  <ul>
    {% for release in tag.items %}
    <li><strong>{{ release.title }}</strong> : {{ release.date_published | date: "%Y-%m-%d" }}</li>
    {% endfor %}
  </ul>
  
  {% assign releases = site.data.github.releases[page.data_filename] %}
  <h2>Changelog of latest version</h2>

  {% for release in releases.items %}
  {% if forloop.first == true %}
  {{ release.content_html }}
  {% endif %}
  {% endfor %}

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  {{ content }}
</article>





