---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign softlist = site.github | sort: 'latest_release_date' | reverse  %}
  {% for soft in softlist %}
  <h2><a href="{{ soft.url | relative_url }}">{{ soft.title | remove: "Tags from " | capitalize }}</a></h2>
  {% endfor %}

  {% for soft in site.data.github.tags %}
  {% assign releases = soft[1].items[0] %}
  <h2><a href="/github/{{ soft[0] }}">{{ soft[0] | capitalize }}</a></h2>
  <p>{{ releases.title }} {{ releases.date_published | date: "%Y-%m-%d" }}</p>
  {% endfor %}

  {% capture my_array %}
  [{% for soft in site.data.github.tags %}
  {% assign releases = soft[1].items[0] %}
  {% raw %}{{% endraw %}"title":"{{ soft[0] }}", "version":"{{ releases.title }}", "date_published":"{{ releases.date_published | date: "%Y-%m-%d" }}"{% raw %}}{% endraw %}{% if forloop.last == false %},{% endif %}
  {% endfor %}]
  {% endcapture %}

  {% assign sorted_releases = my_array | normalize_whitespace | group_by:"date_published" %}
  {{ sorted_releases }}
  {% for sorted_release in sorted_releases %}
  <h2><a href="/github/{{ sorted_release.title }}">{{ sorted_release.title | capitalize }}</a></h2>
  <p>{{ sorted_release.version }} {{ sorted_release.date_published | date: "%Y-%m-%d" }}</p>
  {% endfor %}
</div>
