---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign softlist = site.github | sort: 'latest_release_date' | reverse  %}
  {% for soft in softlist %}
  <h2><a href="{{ soft.url | relative_url }}">{{ soft.title | remove: "Tags from " | capitalize }}</a></h2>

  {% for software in site.data.github.tags %}
  {% assign latest = software[1] %}
    {% if latest.title == soft.title %}
      <ul>
        {% for release in latest.items %}
          {% if forloop.first == true %}
            <li><strong>{{ release.title }}</strong> : {{ release.date_published | date: "%Y-%m-%d" }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

  {% endfor %}
</div>
