---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign softlist = site.github | sort: 'latest_release_date' | reverse  %}
<table>
    <tr>
        <th id="name">Nom</th>
        <th id="version">Version</th>
        <th id="date">Date de sortie</th>
      </tr>
  {% for soft in softlist %}
  <tr><td headers="name"><a href="{{ soft.url | relative_url }}">{{ soft.title | remove: "Tags from " | capitalize }}</a></td>
  
    {% for software in site.data.github.tags %}
  {% assign latest = software[1] %}
    {% if latest.title == soft.title %}
      
        {% for release in latest.items %}
          {% if forloop.first == true %}
            <td headers="version"><strong>{{ release.title }}</strong></td><td headers="date">{{ release.date_published | date: "%d-%m-%Y" }}</td>
          {% endif %}
        {% endfor %}

    {% endif %}
  {% endfor %}
  
  </tr>



  {% endfor %}
</table>
</div>
